	*{
	margin: 0;
	padding: 0;
    font-size:14px;
    list-style-type: none;
    text-decoration: none;
    font-family: "微软雅黑";
}
body{
	padding: 0;
	min-width: 300px;
	max-width: 667px;
	transition: 1.5s all;
    -webkit-transition:1.5s all;
}
header{
	width: 100%;
	position:relative;
    height: auto;
}

.header-top{
	position: fixed;
	background: white;
    width: 100%;
    height: 4.8rem;
    z-index: 111;
    opacity: 1;	
}
.header-top img{
	position: absolute;
	display: block;
	float: left;
}
.glyphicon-menu-hamburger{
	float: right;
	font-size: 3.5rem;
	margin: 1rem;
	color: black;
	cursor: pointer;
}
.glyphicon-remove{
	display: none;
	opacity: 0;
	visibility: none;
    float: right;
	font-size: 3.5rem;
	margin: 1rem;
	color: black;
	cursor: pointer;

}
.glyphicon-remove:hover,.glyphicon-remove:link,.glyphicon-remove:visited{
	text-decoration: none;
	color: black;
}
.glyphicon-menu-hamburger:hover{
	text-decoration: none;
	color: black;
}
.glyphicon-menu-hamburger:link{
	text-decoration: none;
	color: black;
}
.glyphicon-menu-hamburger:visited{
	text-decoration: none;
	color: black;
}
.nav-box{
	position: relative;
    width: 16rem;
    height: 100%;
    background:white;
    right: 20rem;
    transition: 1s all;
    -webkit-transition:1s all;
}
.nav-top-tit{
	display: block;
	width: 100%;
	height: 4.5rem;
	font-size: 1.7rem;
	font-weight: bold;
	color: #4d525d;
	text-align: center;
	background:white;
	line-height: 4.5rem;
	border-bottom: 1px solid #E0e0e0;
}
.nav-top-list1{
	display: block;
	width: 100%;
	height: 5rem;
	text-align: center;
	background:white;
	line-height: 5rem;
	border-bottom: 1px solid #E0e0e0;
	border-right:  1px solid #E0e0e0;
}
.nav-top-list{
	display: block;
	width: 100%;
	height: 5rem;	
	text-align: center;
	background:white;
	line-height: 5rem;
	border-bottom: 1px solid #E0e0e0;
	border-right:  1px solid #E0e0e0;
}
.nav-top-list a{
	color: #4d525d;
}
.nav-top-list a:hover{
	text-decoration: none;
}
.nav-top-list a:link{
	text-decoration: none;
}
.nav-top-list a:visited{
	text-decoration: none;
}
.nav-top-list1 a{
	color: orange;	
}
.nav-top-list1 a:hover{
	text-decoration: none;	
	color: orange;
}
.nav-top-list1 a:link{
	text-decoration: none;	
	color: orange;
}
.nav-top-list1 a:visited{
	text-decoration: none;	
	color: orange;
}
.head{
	position: relative;
	width: 100%;
	height: 15rem;
}
.head_1{
	position: relative;
	top: 2rem;
	width: 80%;
	height: 5rem;
	margin: 0 auto;
	text-align: center;
	top: 6rem;
}
.head_1 span:nth-child(1){
    color: #333;
    font-size: 2rem;
    display: block;
    font-family: "黑体";
}
.head_1 span:nth-child(2){
	color: #888;
	font-size: 1rem;
	display: block;
}
.mian{
	position: relative;
	width: 100%;
	height: 10rem;
    top: 2rem;
}
.mian_1{
	position: relative;
	width: 90%;
	height: 10rem;
	margin: 0 auto;
}
.mian_1 span{
	display: block;
	color: #666;
	margin-top: 1rem;
}
.mian_1 span:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    color: #728080;
}
.mian_2{
	position: relative;
	width: 100%;
    height: 15rem;
    top: 13rem;
}
.mian_2 span:nth-child(1){
	font-size: 22px;
    font-weight: bold;
    color: #728080;
}
.mian_3{
	width: 90%;
	height: 28rem;
	margin:  0 auto;
}
.mian_3 input{
	margin-top: 4%;
	height: 3rem;
    font-size:1rem;
    padding: 1%;
}
.mian_3 input:focus{
	outline:none;
}
.mian_3 input:nth-child(1){
	width: 40%;
	border:1px solid #ddd;
    padding: 1%

}
.mian_3 input:nth-child(2){
	width: 40%;
	border:1px solid #ddd;

}
.mian_3 input:nth-child(3){
	width: 40%;
	border:1px solid #ddd;
}
.mian_3 input:nth-child(4){
	width: 40%;
	border:1px solid #ddd;
}
.mian_3 input:nth-child(5){
	display: inline-block;
	width: 20%;
	height: 3rem;
	color: #fff;
	background: #C10214;
	border:1px solid #C10214;
}
.mian_3 input:nth-child(6){
	display: inline-block;
	width: 20%;
	height: 3rem;
	color: #fff;
	background: #C10214;
	border:1px solid #C10214;
}